{% extends "base.html" %}

{% block content %}
{% for category in categories %}
  <div class="category">
    <h2><a href='/catalog/{{category.id}}/items'>{{category.name}}</a></h2>
      <span class="item-row">
      {% for item in items[category.name] %}
          <div class="item-pic">
              <a href="/catalog/{{item.category_id}}/items/{{item.id}}">
                <h3>{{item.name}}</h3>
                <img src='{{item.picture}}' alt='picture of {{item.name}}' />
              </a>
          </div>
      {% endfor %}
    </span>
  </div>
{% endfor %}
{% endblock %}
