<html>
  <body>
    <h1>{{category.name}}</h1>

    <br>
    <a href='/catalog'>Back to Catalog</a>
    <br>
    <a href='/catalog/{{category.id}}/items/new'>Add Item</a>
    <br>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <br>



    {% for item in items %}
        <h2>{{item.name}}</h2>
        <img src='{{item.picture}}' alt='picture of {{item.name}}'></img>
        <p>{{item.description}}</p>
        <a href="/catalog/{{item.category_id}}/items/{{item.id}}/edit">Edit</a>
        <a href="/catalog/{{item.category_id}}/items/{{item.id}}/delete">Delete</a>
        <br>
        <br>
    {% endfor %}


  </body>
</html>
