{% extends "base.html" %}
{% block title %}{{category.name}} : {{item.name}}{% endblock %}

{% block menu %}
  <a href='/catalog'>
    <h4>Back to Catalog</h4>
  </a>
  <a href="/catalog/{{item.category_id}}/items/{{item.id}}/edit">
    <h4>Edit</h4>
  </a>
  <a href="/catalog/{{item.category_id}}/items/{{item.id}}/delete">
    <h4>Delete</h4>
  </a>
{% endblock %}

{% block content %}
  <img src='{{item.picture}}' alt='picture of {{item.name}}'></img>
  <p>{{item.description}}</p>
{% endblock %}
