{% extends "base.html" %}
{% block body %}

  <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signInButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="270994341709-ukft834dos5888114e59qu25cbgvdo2d.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
  <!--END GOOGLE PLUS SIGN IN BUTTON -->

    <div id='result'></div>


    <script>
    function signInCallback(authResult) {
      if(authResult['code']) {
        // Hide the sign-in button now that the user is authorized.
        $('#signInButton').attr('style', 'display: none')

        //Send the one-time code to the server.  If server responds,
        // write a login successful message to the web page and redirect home.
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          contentType: 'application/octet-stream; charset=utf-8',
          data: authResult['code'],
          success: function(result) {
            if(result) {
              $('#result').html(result);
              setTimeout(function() {
                window.location.href = "/catalog";
              }, 4000);
            }
            else if(authResult['error']) {
              console.log('Error: ' + authResult['error']);
            }
            else {
              $('#result').html('Failed to make a server-side call.  Check your configuration and console');
            }
          }
        })
      }

    }
    </script>

{% endblock %}
