<html>
  <body>
    <h1>Add New Item</h1>
    <br>
    <a href='/catalog'>Back to Catalog</a>
    <br>
    <a href='/catalog/{{category.id}}/items'>Cancel</a>
    <br>
    <hr>
    <br>

    <form method='POST'>
      <h3>Name</h3>
      <input type='text' name='name' type='text'>

      <h3>Image Link</h3>
      <input type='text' name='picture' type='text'>

      <!-- h3>Category</h3>
      <TODO: Category dropdown here -->

      <h3>Description</h3>
      <input type='text' name='description' type='text'>

      <br>
      <br>
      <input type='submit' value='Enter New Item'>
    </form>


  </body>
</html>
